{% extends "base.html" %} {% block content %}
            <!-- Page content-->
            <section class="py-5">
                <div class="container px-5">
                    <!-- Contact form-->
                    <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                        <div class="text-center mb-5">
                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-shield-check"></i></div>
                            <h1 class="fw-bolder">Pasajero</h1>
                            <p class="lead fw-normal text-muted mb-0">Manage your Passwords!</p>
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6">
                                <form id="login_form" method="post">
                                    <!-- Email input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="login_email" name="email" type="text" />
                                        <label for="email">Email</label>
                                        <div class="invalid-feedback">Email is required.</div>
                                    </div>
                                    <!-- Password input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="login_pass" type="password" name="password" />
                                        <label for="password">Password</label>
                                        <div class="invalid-feedback">Password is required.</div>
                                    </div>
                                    <!-- Submit Button-->
                                    <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button></div>
                                </form>
                                <a href="{{ url_for('forgot_password') }}">Forgot password</a><br/>
                                {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                    <p>{{ message }}</p>
                                    {% endfor %}
                                {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        {% endblock %}