{% extends "base.html" %} {% block content %}
            <!-- Section-->
            <section class="py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">New Entry</span></h1>
                    </div>
                </div>
                <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                <h4 class="card-title mb-4">Add a New Password</h4>  
                                    <form id="new_entry_form" method="post">
                                        <!-- Site input-->
                                        <div class="form-floating mb-3">
                                            <input class="form-control" type="text" name="entry_url" />
                                            <label for="site">Site</label>
                                        </div>
                                        <!-- Username input-->
                                        <div class="form-floating mb-3">
                                            <input class="form-control" type="text" name="entry_username"/>
                                            <label for="username">Username</label>
                                        </div>
                                        <!-- Password input-->
                                        <div class="form-group form-floating mb-3 rounded-4">
                                            <input class="form-control" type="text" id="password-field" name="entry_password" value=" {{ password }}"/>
                                            <span toggle="#password-field" class="fa fa-fw field-icon toggle-password fa-eye-slash"></span>
                                            <label for="password">Password</label>
                                        </div>
                                        <!-- 
                                          Submit Button-->
                                        <div class="d-grid">
                                            <button class="btn btn-primary btn-lg mb-3" id="submitButton" type="submit">Save Entry</button>
                                            <button class="btn btn-light btn-lg" id="generateButton" type="button" onClick="password_generator()">Regenerate a Password</button>
                                        </div>
                                        <div class="d-grid"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        {% endblock %} 
        
        